<menu>
<%= link_to "Home", root_url %>
<%= link_to "English", root_url(locale: "en") %>
<%= link_to "Russian", root_url(locale: "ru") %>
<%= link_to "Ukrainian", root_url(locale: "uk") %>
<%= link_to "Beta", root_url(subdomain: "beta") %>
</menu>

<p><%= t "hello" %></p>
