<menu>
<%= link_to "Home", root_path %>
<%= link_to "English", root_path(locale: "en") %>
<%= link_to "Russian", root_path(locale: "ru") %>
<%= link_to "Ukrainian", root_path(locale: "uk") %>
</menu>

<p><%= t "hello" %></p>
